body,html {
    margin:0;
    padding:0;
}
.box{
    width:200px;
    float:left;
    padding:5px;
    border:1px solid #bbb;
    box-shadow:0 0 3px #bbb;
    border-radius:5px;
}
.con>img{
    width:100%;
}
.container:after{
    clear:both;
    content:"";
    display:block;
}
